<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>

    <!--[if lt IE 10]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="AdminStylesdek Bootstrap AdminStyles template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="flat ui, AdminStyles AdminStyles , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="colorlib" />
    <link rel="icon" href="https://colorlib.com//polygon/AdminStylesdek/files/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/AdminStyles/Index/files/bower_components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminStyles/Index/files/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="~/AdminStyles/Index/files/assets/icon/feather/css/feather.css">
    <link rel="stylesheet" type="text/css" href="~/AdminStyles/Index/files/assets/css/font-awesome-n.min.css">
    <link rel="stylesheet" href="~/AdminStyles/Index/files/bower_components/chartist/css/chartist.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="~/AdminStyles/Index/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/AdminStyles/Index/files/assets/css/widget.css">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a href="~/Admin/Index">
                            <img class="img-fluid" style="height:75px;width:140px;" src="~/AdminStyles/Index/files/assets/images/logo-ct.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu icon-toggle-right"></i>
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="feather icon-x input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#!" onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:toggleFullScreen()" class="waves-effect waves-light" data-cf-modified-31ecd1c8df647a02aa4d009e-="">
                                    <i class="full-screen feather icon-maximize"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">

                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    @*<div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="~/AdminStyles/Index/files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                        <span>John Doe</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>*@
                                    @{ Html.RenderAction("_PartialUserInformation", "Admin");}
                                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="https://mail.google.com/mail/u/0/?pli=1#inbox" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
                                                <i class="feather icon-mail"></i> Email Shop
                                            </a>
                                        </li>
                                        <li>
                                            <a href="auth-lock-screen.html">
                                                <i class="feather icon-alert-octagon"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <a onclick="LogOut()">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="nav-list">
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="pcoded-navigation-label">QUẢN TRỊ</div>

                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Người dùng</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/UsersIndex" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/AddNewUsers" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Thêm người dùng</span>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>

                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Sách</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/BooksIndex" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/AddBooks" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Thêm sách</span>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>

                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Chủ đề</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/ThemesIndex" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                        </ul>

                                </ul>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Loại sách</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/CategorysIndex" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/AddCategorys" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Thêm mới thể loại sách</span>
                                                </a>
                                            </li>
                                        </ul>

                                </ul>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Ngôn ngữ</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                            <li class=" pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Thêm mới ngôn ngữ</span>
                                                </a>
                                            </li>
                                        </ul>

                                </ul>

                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Khách hàng</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/Login" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                            <li class=" pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Insert</span>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Đơn hàng</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/BillsIndex" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Thống kê doanh thu</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/ViewRevenue" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Xem doanh thu</span>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Hỗ trợ</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/Login" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                            <li class=" pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Insert</span>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Tin tức</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/Login" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                            <li class=" pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Insert</span>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>
                                <ul class="pcoded-item pcoded-left-item">
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
                                            <span class="pcoded-mtext">Tác giả</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class=" pcoded-hasmenu">
                                                <a href="~/Admin/Login" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Index</span>
                                                </a>
                                            </li>
                                            <li class=" pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Insert</span>
                                                </a>
                                            </li>
                                        </ul>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        @RenderBody()
                    </div>
                </div>
                <div id="styleSelector">
                </div>
            </div>
        </div>
    </div>




    <script data-cfasync="false" src="~/AdminStyles/Index/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="31ecd1c8df647a02aa4d009e-text/javascript" src="~/AdminStyles/Index/files/bower_components/jquery/js/jquery.min.js"></script>
    <script type="31ecd1c8df647a02aa4d009e-text/javascript" src="~/AdminStyles/Index/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="31ecd1c8df647a02aa4d009e-text/javascript" src="~/AdminStyles/Index/files/bower_components/popper.js/js/popper.min.js"></script>
    <script type="31ecd1c8df647a02aa4d009e-text/javascript" src="~/AdminStyles/Index/files/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/AdminStyles/Index/files/assets/pages/waves/js/waves.min.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script type="31ecd1c8df647a02aa4d009e-text/javascript" src="~/AdminStyles/Index/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <script src="~/AdminStyles/Index/files/assets/pages/chart/float/jquery.flot.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script src="~/AdminStyles/Index/files/assets/pages/chart/float/jquery.flot.categories.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script src="~/AdminStyles/Index/files/assets/pages/chart/float/curvedLines.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script src="~/AdminStyles/Index/files/assets/pages/chart/float/jquery.flot.tooltip.min.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script src="~/AdminStyles/Index/files/bower_components/chartist/js/chartist.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script src="~/AdminStyles/Index/files/assets/pages/widget/amchart/amcharts.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script src="~/AdminStyles/Index/files/assets/pages/widget/amchart/serial.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script src="~/AdminStyles/Index/files/assets/pages/widget/amchart/light.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script src="~/AdminStyles/Index/files/assets/js/pcoded.min.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script src="~/AdminStyles/Index/files/assets/js/vertical/vertical-layout.min.js" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script type="31ecd1c8df647a02aa4d009e-text/javascript" src="~/AdminStyles/Index/files/assets/pages/dashboard/custom-dashboard.min.js"></script>
    <script type="31ecd1c8df647a02aa4d009e-text/javascript" src="~/AdminStyles/Index/files/assets/js/script.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="31ecd1c8df647a02aa4d009e-text/javascript"></script>
    <script type="31ecd1c8df647a02aa4d009e-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script type="text/javascript">
        function LogOut() {
            $.ajax({
                url: "/Admin/Logout",
                method: "POST",
                data: {
                    
                }
            }).done(function (data) {
                if (data._mess == 1) {
                    alert("Đăng xuất thành công")
                    location.href = '/Admin/Login'
                }
            })
        }
    </script>
    <script src="~/AdminStyles/Index/ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="31ecd1c8df647a02aa4d009e-|49" defer=""></script>
</body>

</html>
