@using Project_BookStoreCT.Models.ViewModels;
@using Project_BookStoreCT.Models.DataModels;

<li>
    <a>Foreign Books<i class="fa fa-angle-down"></i></a>
    <div class="mega-menu">
        @foreach (GetThemeSachNuocNgoai theme in Model)
        {
            <span style="padding-bottom:25px;">
                <a class="title">@theme.themeName</a>
                @{
                    DataContext db = new DataContext();
                    var getcate = from c in db.Categorys join t in db.Themes on c.theme_id equals t.Theme_ID where t.themeNameForeign == theme.themeName select c;
                    foreach (var cate in getcate)
                    {
                        <a href="shop.html">@cate.categoryNameForeign</a>
                    }
                }
            </span>
        }
    </div>
</li>

