@using Project_BookStoreCT.Models.ServiceModels
<div class="dropdown-toggle" data-toggle="dropdown">
       <img src="~/img/avatar/@SessionCheckingServices.avatar" class="img-radius" alt="User-Profile-Image">
       <span>@SessionCheckingServices.userName</span>
    <i class="feather icon-chevron-down"></i>
</div>
