
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1 style="text-align:center;padding-top:100px;padding-bottom:100px">THANH TOÁN THẤT BẠI VUI LÒNG THỬ LẠI</h1>

