
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1 style="text-align:center;padding-top:100px;padding-bottom:100px">CẢM ƠN BẠN ĐÃ ĐẶT HÀNG Ở CỬA HÀNG CHÚNG TÔI</h1>

