
@{
    ViewBag.Title = "AddCategorys";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .col-form-label {
        padding-left: 50px !important;
    }

    .form-control {
        width: 95%;
    }

    .col-sm-10 {
        width: 90%;
        margin: 0 auto;
    }

    .col-sm-12 {
        margin-left: 20px !important;
        width: 90%;
        margin: 0 auto;
    }
</style>
<div class="card-block">
    <h4 style="text-align:center;padding-top:10px;font-weight:bold" class="sub-title">THÊM MỚI THỂ LOẠI SÁCH</h4>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Tên tiếng Việt (*)</label>
        <div class="col-sm-10">
            <input id="txtTheLoaiTV" required type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Tên tiếng Anh (*)</label>
        <div class="col-sm-10">
            <input id="txtTheLoaiTA" required type="text" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Chủ đề</label>
        <div class="col-sm-10">
            <select style="height:35px;" id="dropChuDe" name="select" class="form-control">
                @foreach(var t in ViewBag.GetThemes)
                {
                    <option value="@t.Theme_ID">@t.themeName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <button onclick="Add()" style="margin-left:5px;color:white;background-color:#ff6a00" class="form-control btn btn-primary">Thêm mới thể loại</button>
        </div>
        <div class="col-sm-6">
            <a href="~/Admin/CategorysIndex" style="margin-left:5px;color:white;background-color:#ff6a00" class="form-control btn btn-primary">Trở về</a>
        </div>
    </div>

</div>
<script>
    function Add() {
        var check = true;
        var categoryTV = $("#txtTheLoaiTV").val();
        var categoryTA = $("#txtTheLoaiTA").val();
        var theme_id = $("#dropChuDe option:selected").val()

        if (categoryTA == "" || categoryTV == "") {
            swal("Không được bỏ trống");
            return check = false;
        }
        if (check == true) {
            $.ajax({
                url: '/Admin/AddCategorys',
                type: 'POST',
                data: {
                    'categoryTV': categoryTV,
                    'categoryTA': categoryTA,
                    'theme_id': theme_id
                }
            }).done(function (data) {
                if (data.mess_ == 1) {
                    swal("Thêm thành công")
                }
                else {
                    swal("Email đã tồn tại")
                }
            })
        }
    }
</script>

