USE [master]
GO
/****** Object:  Database [DataHighLandsCoffee]    Script Date: 5/16/2019 10:59:21 PM ******/
CREATE DATABASE [DataHighLandsCoffee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataHighLandsCoffee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DataHighLandsCoffee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataHighLandsCoffee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DataHighLandsCoffee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataHighLandsCoffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataHighLandsCoffee]
GO
USE [DataHighLandsCoffee]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/16/2019 10:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bans]    Script Date: 5/16/2019 10:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bans](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](max) NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Bans] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiNhanh_SanPham]    Script Date: 5/16/2019 10:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh_SanPham](
	[MaChiNhanh] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiNhanh_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaChiNhanh] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiNhanhs]    Script Date: 5/16/2019 10:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanhs](
	[MaChiNhanh] [int] IDENTITY(1,1) NOT NULL,
	[TenChiNhanh] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[NguoiQuanLi] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiNhanhs] PRIMARY KEY CLUSTERED 
(
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 5/16/2019 10:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDons](
	[MaHD] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien] [float] NOT NULL,
	[TrangThaiCTHD] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 5/16/2019 10:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](max) NOT NULL,
	[NgayLapHoaDon] [datetime] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[TongTien] [float] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[MaBan] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HoaDons] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPhams]    Script Date: 5/16/2019 10:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPhams](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](max) NOT NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoaiSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 5/16/2019 10:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](max) NOT NULL,
	[UserName] [varchar](8000) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[ChucVu] [nvarchar](max) NOT NULL,
	[Luong] [float] NOT NULL,
	[MaChiNhanh] [int] NOT NULL,
 CONSTRAINT [PK_dbo.NhanViens] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 5/16/2019 10:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](max) NOT NULL,
	[DonGia] [float] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[MaLoai] [int] NOT NULL,
	[ChiTiet] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SanPhams] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bans] ON 

INSERT [dbo].[Bans] ([MaBan], [TenBan], [TrangThai]) VALUES (1, N'TAB.01', 1)
INSERT [dbo].[Bans] ([MaBan], [TenBan], [TrangThai]) VALUES (2, N'TAB.02', 0)
INSERT [dbo].[Bans] ([MaBan], [TenBan], [TrangThai]) VALUES (3, N'TAB.03', 0)
SET IDENTITY_INSERT [dbo].[Bans] OFF
SET IDENTITY_INSERT [dbo].[ChiNhanhs] ON 

INSERT [dbo].[ChiNhanhs] ([MaChiNhanh], [TenChiNhanh], [DiaChi], [SDT], [NguoiQuanLi]) VALUES (1, N'ABC', N'Bình Dương', N'0123456789', 1)
INSERT [dbo].[ChiNhanhs] ([MaChiNhanh], [TenChiNhanh], [DiaChi], [SDT], [NguoiQuanLi]) VALUES (2, N'DEF', N'TP. Hồ Chí Minh', N'0987654321', 2)
SET IDENTITY_INSERT [dbo].[ChiNhanhs] OFF
INSERT [dbo].[ChiTietHoaDons] ([MaHD], [MaSanPham], [SoLuong], [ThanhTien], [TrangThaiCTHD]) VALUES (2, 1, 1, 65000, 1)
INSERT [dbo].[ChiTietHoaDons] ([MaHD], [MaSanPham], [SoLuong], [ThanhTien], [TrangThaiCTHD]) VALUES (2, 2, 1, 65000, 1)
SET IDENTITY_INSERT [dbo].[HoaDons] ON 

INSERT [dbo].[HoaDons] ([MaHoaDon], [TenKhachHang], [NgayLapHoaDon], [TinhTrang], [TongTien], [MaNhanVien], [MaBan]) VALUES (2, N'Mr Thanh', CAST(N'2018-08-24T00:00:00.000' AS DateTime), 0, 130000, 1, 1)
SET IDENTITY_INSERT [dbo].[HoaDons] OFF
SET IDENTITY_INSERT [dbo].[LoaiSanPhams] ON 

INSERT [dbo].[LoaiSanPhams] ([MaLoaiSP], [TenLoaiSP], [Icon]) VALUES (1, N'Coffee', N'coffee-cup.svg')
INSERT [dbo].[LoaiSanPhams] ([MaLoaiSP], [TenLoaiSP], [Icon]) VALUES (2, N'Tea', N'tea.svg')
INSERT [dbo].[LoaiSanPhams] ([MaLoaiSP], [TenLoaiSP], [Icon]) VALUES (3, N'Dessert', N'dessert.svg')
SET IDENTITY_INSERT [dbo].[LoaiSanPhams] OFF
SET IDENTITY_INSERT [dbo].[NhanViens] ON 

INSERT [dbo].[NhanViens] ([MaNV], [TenNV], [UserName], [Password], [Email], [DiaChi], [SDT], [ChucVu], [Luong], [MaChiNhanh]) VALUES (1, N'Nguyễn Công Thành', N'thanh', N'xoaoRfGNoRMatPRn5zmm0bvagUWKBmMesRtPi6fEA5TASn6bV6VkQiuW0NisLRsbcPLg32ppVkEx5o7LsvuCCMV7LFgWiRdu', N'congthanh298897@gmail.com', N'Bình Dương', N'0123456789', N'Quản lí', 5000000, 1)
INSERT [dbo].[NhanViens] ([MaNV], [TenNV], [UserName], [Password], [Email], [DiaChi], [SDT], [ChucVu], [Luong], [MaChiNhanh]) VALUES (2, N'Nguyễn Văn A', N'vana', N'IfJxEpFhNxE6FDNDWgQKAeZpZPe7hxGB9caVgBhrLBEyKxLDbP+MHd3nQL/ElE30RyXaBQ3OUK6FpyMMcA5w2NL3ev30H7zv7ArTIaiR69Rx4crA', N'nguyenvana@gmail.com', N'Bình Phước', N'0123456789', N'Quản lí', 5000000, 2)
SET IDENTITY_INSERT [dbo].[NhanViens] OFF
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

INSERT [dbo].[SanPhams] ([MaSanPham], [TenSanPham], [DonGia], [HinhAnh], [MoTa], [MaLoai], [ChiTiet]) VALUES (1, N'Cafe Mocha', 65000, N'big image@3x.png', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry', 1, N'Với mùi hương nhẹ của cà phê trộn với vị ngọt dịu của kem và chocolate, lại còn không gây mất ngủ, không còn lo lắng vì sợ nóng, Mocha luôn được coi là thức uống “ưa thích bậc nhất” cho mọi lứa tuổi.')
INSERT [dbo].[SanPhams] ([MaSanPham], [TenSanPham], [DonGia], [HinhAnh], [MoTa], [MaLoai], [ChiTiet]) VALUES (2, N'Mocha Ice Bended', 65000, N'img02@3x.png', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry', 1, N'Thức uống đá xay kết hợp cà phê tinh tế của sữa cùng hương vị Hạt dẻ / Caramel / Socola trắng và kem tươi Caramel ice blended: Caramel ice blended với hương thơm nồng nàn, vị ngọt đầy mê đắm và béo ngậy của kem tươi – sẵn sàng chinh phục biết bao trái tim của thực khách.')
INSERT [dbo].[SanPhams] ([MaSanPham], [TenSanPham], [DonGia], [HinhAnh], [MoTa], [MaLoai], [ChiTiet]) VALUES (3, N'Caramel Ice Blended', 65000, N'img03@3x.png', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry', 1, N'Với vị đắng nhẹ béo thơm và rất độc đáo sẽ chiếm được nhiều cảm tình của những thực khách.')
SET IDENTITY_INSERT [dbo].[SanPhams] OFF
/****** Object:  Index [IX_MaChiNhanh]    Script Date: 5/16/2019 10:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaChiNhanh] ON [dbo].[ChiNhanh_SanPham]
(
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaSanPham]    Script Date: 5/16/2019 10:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaSanPham] ON [dbo].[ChiNhanh_SanPham]
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaHD]    Script Date: 5/16/2019 10:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaHD] ON [dbo].[ChiTietHoaDons]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaSanPham]    Script Date: 5/16/2019 10:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaSanPham] ON [dbo].[ChiTietHoaDons]
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaBan]    Script Date: 5/16/2019 10:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaBan] ON [dbo].[HoaDons]
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaNhanVien]    Script Date: 5/16/2019 10:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaNhanVien] ON [dbo].[HoaDons]
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaChiNhanh]    Script Date: 5/16/2019 10:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaChiNhanh] ON [dbo].[NhanViens]
(
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaLoai]    Script Date: 5/16/2019 10:59:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaLoai] ON [dbo].[SanPhams]
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDons] ADD  DEFAULT ((0)) FOR [TrangThaiCTHD]
GO
ALTER TABLE [dbo].[ChiNhanh_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiNhanh_SanPham_dbo.ChiNhanhs_MaChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanhs] ([MaChiNhanh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiNhanh_SanPham] CHECK CONSTRAINT [FK_dbo.ChiNhanh_SanPham_dbo.ChiNhanhs_MaChiNhanh]
GO
ALTER TABLE [dbo].[ChiNhanh_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiNhanh_SanPham_dbo.SanPhams_MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiNhanh_SanPham] CHECK CONSTRAINT [FK_dbo.ChiNhanh_SanPham_dbo.SanPhams_MaSanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.HoaDons_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDons] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.HoaDons_MaHD]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.SanPhams_MaSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPhams] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDons_dbo.SanPhams_MaSanPham]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDons_dbo.Bans_MaBan] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Bans] ([MaBan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_dbo.HoaDons_dbo.Bans_MaBan]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDons_dbo.NhanViens_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanViens] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_dbo.HoaDons_dbo.NhanViens_MaNhanVien]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhanViens_dbo.ChiNhanhs_MaChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanhs] ([MaChiNhanh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_dbo.NhanViens_dbo.ChiNhanhs_MaChiNhanh]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_MaLoai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPhams] ([MaLoaiSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_dbo.SanPhams_dbo.LoaiSanPhams_MaLoai]
GO
USE [master]
GO
